:root {
    --primary-color: #F88836;
    --gray: #5d5d5d;
    --primary-transition: 0.3s;
}

/* 移除瀏覽器預設的邊距 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 這一行可以讓所有頁內錨點連結的跳轉效果變得平滑 */
html {
    scroll-behavior: smooth;
}

/* 共用樣式：所有頁面都繼承 */
body {
    font-family: "Titillium Web", "noto sans TC", "Microsoft YaHei", "微软雅黑", sans-serif;
}

a {
    transition: var(--primary-transition);
    cursor: pointer;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

section {
    padding: 80px 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}


/* ------------------------------------------------------------------------- */
/* 「Header」Section                                                          */
/* ------------------------------------------------------------------------- */

header {
    background-color: white;
    height: 80px;
    width: 100%;       /* 寬度與視窗同寬 */
    position: fixed;   /* 固定在頁面，不因捲動而移動 */
    top: 0;            /* 確保 header 貼齊頂端 */
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 8;
}

h1 a {
    color: white;
    display: block;
    /* position: absolute; */
    /* left: 120px; */
    top: 0;
    line-height: 80px;
    background-image: url(images/CppLogo.jpeg);
    background-repeat: no-repeat;   /* 只顯示一張圖片 */
    background-position: center;
    /* 讓圖片等比例縮小 */
    background-size: contain;  
    width: 210px;
    height: 80px;           /* 給定高度，圖片會依比例縮放塞進來 */
    text-indent: -9999px;   /* 把h1文字推到後面以便用戶看不見，但有利搜尋 */
}

/* 導航欄 */
header nav>ul {
    line-height: 80px;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

header a {
    color: black;      /* 設定字體顏色為黑色 */
    font-weight: bold;   /* 加粗字體。600為半粗，700為bold，900為最粗 */
    text-decoration: none;
}

header a:hover {
    color: var(--primary-color);
}

.menu-close {
    width: 100%;
    display: none;
    justify-content: flex-end;
}

.menu-close button {
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-close button svg {
    width: 12px;
    height: 12px;
}

.menu-close button svg path {
    fill: rgba(255,255,255,0.7);
}

.lang {
    position: relative;
}

.header_btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.header_btn svg {
    width: 20px;
    height: 20px;
}

.header_btn svg path {
    fill: #fff;
    transition: var(--primary-transition);
}

.header_btn:hover {
    background-color: transparent;
}

.header_btn:hover svg path {
    fill: var(--primary-color);
}

.lang_active.dropdown {
    background-color: transparent;
}

.lang_active.dropdown svg path {
    fill: var(--primary-color);
}

.lang_list {
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 8px;
    margin: 0;
    background-color: #f2f2f2;
    display: none;
}

.lang_list a {
    display: block;
    padding: 6px 16px;
    font-weight: normal;
    font-size: 14px;
    white-space: nowrap;
}

.lang_list a.active {
    color: var(--primary-color);
    font-weight: 700;
}

.menu {
    display: none;
}

.qrcode {
    position: relative;
}

.qrcode_list {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    list-style: none;
    padding: 8px 8px 16px;
    margin: 0;
    background-color: #fff;
    display: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.qrcode_list_inner {
    display: flex;
    gap: 16px;
}

.qrcode_list img {
    width: 200px;
}

.qrcode-item p {
    text-align: center;
    margin: 0;
    color: #FF6C00;
    font-weight: 500;
    margin-top: -10px;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 0 40px;
    }

    header nav {
        gap: 20px;
    }

    header nav>ul {
        position: fixed;
        max-width: 250px;
        padding: 28px 24px;
        background-color: #000;
        top: 0;
        height: 100%;
        display: block;
        width: 100%;
        z-index: 10;
        right: -250px;
        transition: var(--primary-transition);
    }

    header nav>ul.active {
        right: 0;
    }

    header nav>ul>li {
        line-height: 2.5;
    }

    header nav>ul a {
        color: #fff;
    }

    .menu-close {
        display: flex;
        margin-bottom: 16px;
    }

    .menu {
        display: flex;
    }

    .qrcode_list_inner {
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    header {
        padding: 0 20px;
    }

    header h1 {
        width: 150px;
        height: 57px;
    }
    header h1 a {
        width: 150px;
        height: 57px;
    }
}

/* ------------------------------------------------------------------------- */
/* 「Overview」Section：左右並排                                               */
/* ------------------------------------------------------------------------- */

/* 核心佈局：使用 Flexbox */
.overview {
    display: flex; /* 啟用彈性盒子佈局 */
    flex-wrap: wrap; /* 小螢幕時會自動換行 */
    align-items: center; /* 讓兩個子區塊垂直對齊，確保等高 */
    background-color: #fff;
}

.overview h2{
    text-align: left;   /* 靠左對齊 */
    font-size: 40px;    /* 放大字體 */
    font-weight: 700;
    position: relative;
    /* padding-bottom: 24px; */
    margin-bottom: 24px;
}

/* 子區塊樣式 */
.overview-text,
.overview-image {
    flex: 1; /* 讓兩個區塊平均分配空間，實現等寬 */
    padding: 40px;
    height: 100%; /* 繼承父容器高度 */
    box-sizing: border-box; /* 確保內距不會撐大區塊 */
}

/* 左側文字區塊的內容置中 */

.overview-text p {
    padding: 12px 20px;
    border-left: 3px solid var(--primary-color);
    line-height: 1.6;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 500;
}

.overview-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.overview-text li {
    margin-top: 12px;
    text-align: left;   /* 靠左對齊 */
    padding-left: 24px;
    position: relative;
    font-size: 14px;
    color: var(--gray);
    line-height: 1.5;
} 

.overview-text li strong {
    color: #333;
    font-size: 16px;
}

.overview-text li::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(./images/icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

/* 右側圖片區塊的內容置中 */
.overview-image {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
}

/* 圖片樣式：確保圖片在區塊內自動調整大小 */
.overview-image img {
    max-width: 100%; /* 圖片寬度不超過容器 */
    height: auto; /* 高度自動調整，保持比例 */
    display: block; /* 移除圖片底部的空白間隙 */
    border-radius: 8px;
}

@media screen and (max-width: 575px) {
    .overview-text,
    .overview-image {
        padding: 40px 0;
    }
    .overview-image {
        order: 1;
    }
    .overview-text {
        order: 2;
    }
}


/* ------------------------------------------------------------------------- */
/* 「Features」Section                                                       */
/* ------------------------------------------------------------------------- */

.features-wrap {
    background-color: #FFF4ED;
    max-width: inherit;
}

.features-title {
    text-align: center;
    padding-bottom: 40px !important; 
} 

.features-title h2 {
    font-size: 32px;
    font-weight: 700; 
    margin-bottom: 8px;
} 

.features-subtitle {
    padding: 4px 12px;
    width: fit-content;
    margin: 0 auto 12px;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    background: linear-gradient(to right, #FFAB3B 0%, #F23F2B 100%);
    text-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

/* 設定父容器為網格佈局：2X4排列 */
.features {
    display: grid;
    /* 建立 4 個等寬的欄位 */
    grid-template-columns: repeat(4, 1fr);
    /* 建立 2 個等高的列 */
    grid-template-rows: repeat(2, auto);
    /* 設定網格間距 */
    gap: 20px;
    
    /* 額外美化樣式 */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* 網格項目樣式 */
.feature {
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    position: relative;
    padding-bottom: 16px;
}

.feature h3::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    left: 0;
    bottom: 0;
}

.feature p {
    font-size: 15px;
    color: var(--gray);
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .features {
        border-radius: 0;
    }
}

@media screen and (max-width: 575px) {
    .features {
        gap: 16px;
    }
    .features-title h2 {
        font-size: 30px;
    }
    .feature {
        padding: 20px 16px;
    }
    .feature h3 {
        font-size: 18px;
    }
    .feature p {
        font-size: 14px;
    }
    .features-title p br {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .features-wrap {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* ------------------------------------------------------------------------- */
/* 「Industry」Section                                                       */
/* ------------------------------------------------------------------------- */

/* 核心佈局：使用 Flexbox */
.industry {
    display: flex; /* 啟用彈性盒子佈局 */
    flex-wrap: wrap; /* 小螢幕時會自動換行 */
    align-items: center; /* 讓兩個子區塊垂直對齊，確保等高 */
    background-color: #fff;
}

/* 子區塊樣式 */
.industry-text,
.industry-image {
    padding: 40px;
    height: 100%; /* 繼承父容器高度 */
}

/* 左側文字區塊的內容置中 */
.industry-text {
    width: 40%;
    padding-right: 0;
}

.industry-text h2 {
    margin-top: 10px;
    font-size: 32px;    /* 放大字體 */
    font-weight: 700;
} 

.industry-text p {
    margin-top: 20px;
    text-align: left;   /* 靠左對齊 */
} 

/* 右側圖片區塊的內容置中 */
.industry-image {
    width: 60%;
}

/* 圖片樣式：確保圖片在區塊內自動調整大小 */
.industry-image img {
    max-width: 100%; /* 圖片寬度不超過容器 */
    height: auto; /* 高度自動調整，保持比例 */
    display: block; /* 移除圖片底部的空白間隙 */
    border-radius: 8px;
}

.industry_info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.industry_info_item {
    width: calc(50% - 10px);
    border-radius: 16px;
    background-color: #f7f7f7;
    /* border: 1px solid var(--primary-color); */
    padding: 16px;
    text-align: center;
}

.industry_info_item h3 {
    font-size: 40px;
    margin-bottom: 4px;
    color: #FF6C00;
}

.industry_info_item p {
    margin: 0;
    color: var(--gray);
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .industry-text,
.industry-image {
    padding: 40px 0;
}
}

@media screen and (max-width: 480px) {
    .industry, .industry-image {
        padding-bottom: 0;
    }
}


/* ------------------------------------------------------------------------- */
/* 「標準與合規」Section                                                       */
/* ------------------------------------------------------------------------- */

.standards-title {
    text-align: center;
} 

.standards-title h2 {
    margin-top: 10px;
    font-size: 32px;   /* 放大字體 */
} 

.standards-title p {
    margin-top: 20px;
} 

/* 設定父容器為網格佈局 */
.standards {
    display: grid;
    /* 建立 4 個等寬的欄位。fr 單位表示可用的空間分數，所以 1fr 會讓所有欄位平均分配空間 */
    grid-template-columns: repeat(4, 1fr);
    /* 將網格項目對齊到行尾，這會讓所有項目高度相同 */
    align-items: stretch;
    /* 設定網格項目間的間距 */
    gap: 20px;
    
    /* 額外美化樣式 */
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
    margin-top: 40px;
}

/* 網格項目樣式 */
.standard {
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.standard h3 {
    /* margin-top: 10px; */
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
} 

.standard h3::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.standard p {
    margin-top: 20px;
}

.standard ul {
    margin: 20px 0 0;
    list-style: none;
    padding: 0;
}

.standard li {
    margin-top: 4px;
    font-size: 15px;
    position: relative;
    color: var(--gray);
    padding-left: 20px;
}

.standard li::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(./images/icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 2px;
    left: 0;
}

@media screen and (max-width: 480px) {
    .standards-wrap {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* ------------------------------------------------------------------------- */
/* 「Information」Section                                                       */
/* ------------------------------------------------------------------------- */

/* 父容器：使用 Flexbox 實現垂直堆疊 */
.info-section-container {
    display: flex;
    flex-direction: column; /* **重要：讓子區塊垂直排列** */
    align-items: center; /* 讓所有子區塊水平置中 */
    background-color: #fff;
    padding: 20px 40px;   /* section上、下空白間隔*/
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
}

.info-qrcode {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.info-qrcode img {
    width: 100px;
}

.info-qrcode .qrcode-item p {
    margin-top: -5px;
    color: #000;
}

.info-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.info-link {
    font-size: 14px;
    color: var(--gray);
    text-decoration: none;
}

.info-link:hover {
    color: var(--primary-color);
}

/* 頂端 Logo 區塊 */
.top-logo {
    width: 130px;
    text-align: left; /* 讓圖片在區塊內靠左對齊 */
    padding-left: 20px;
}

.logo-img {
    /* **重要：設定圖片寬度為 15%，並保持等比例** */
    width: 100%;
    height: auto;
}

/* 包裝底下三個區塊的容器 */
.info-blocks-wrapper {
    display: flex;
    width: 100%; /* 確保容器寬度為 100% */
    flex-wrap: wrap;
    align-items: center;
}

/* 子區塊：設定均分寬度 */
.info-block {
    flex: 1; /* 讓三個區塊均分可用空間 */
    padding: 20px;
    text-align: left; /* 左區塊與中區塊的文字靠左對齊 */
}

/* 調整：左區塊文字樣式 */
.left-block {
    text-align: left;
}

.right-block {
    padding-right: 0;
}

.info-block h3 {
    margin-bottom: 12px; 
}

.info-block p {
    margin-top: 8px; 
    font-size: 14px;
    color: var(--gray);
}

.company-link {
    color: inherit;          /* 保持跟原文字一樣顏色 */
    text-decoration: none;   /* 預設不顯示底線 */
}

.company-link:hover {
    text-decoration: underline; /* 滑鼠移過去顯示底線 */
}

@media screen and (max-width: 1200px) {
    .info-section-container {
        border-radius: 0;
        margin: 0;
        box-shadow: none;
        background-color: #f4f4f4;
        border-bottom: 1px solid #d0d0d0;
        
    }
    .logo-img {
        mix-blend-mode: multiply;
    }
}

@media  screen and (max-width: 767px) {
    .info-top {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        position: relative;
    }
    .info-links {
        padding-left: 20px;
    }
    .service-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
}

@media (max-width: 480px) {
    .info-section-container {
        padding: 80px 20px 40px;
    }
    .top-logo {
        padding-left: 0;
    }
    .info-top {
        margin-bottom: 0;
    }
    .info-links {
        padding: 0;
        flex-wrap: wrap;
    }
    .info-links a:first-child {
        order: 2;
    }
    .info-links a:nth-child(2) {
        order: 3;
    }
    .info-block {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        flex: auto;
    }
    .info-qrcode {
        justify-content: flex-start;
    }
}

/* 中區塊：聯絡資訊 */

/* 右區塊的服務按鈕樣式 */
.service-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid #ff7f00;
    background-color: #fff;
    color: #ff7f00;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* 鼠標移到按鈕上時的變化 */
.service-button:hover {
    background-color: #ff7f00;
    color: #fff;
}

@media (max-width: 480px) {
    .service-button {
        position: static;
        width: 100%;
        margin: 8px 0 0;
        order: 1;
        transform: none;
    }

}


/* ------------------------------------------------------------------------- */
/* 「Footer」Section                                                          */
/* ------------------------------------------------------------------------- */

/* 設定頁腳的整體樣式 */
footer {
    background-color: #f4f4f4;
    padding: 20px 0; /* 上下間距設定為 40px */
    text-align: center; /* 讓內部文字水平置中 */
}

/* 設定版權文字的樣式 */
footer p {
    color: var(--gray); /* 偏灰色的黑色字體 */
    margin: 0; /* 移除 p 標籤預設的邊距 */
    font-size: 14px;
}


/* ------------------------------------------------------------------------- */
/* 「聯絡我們」網頁                                                          */
/* ------------------------------------------------------------------------- */

.contact-page {
    /* 這裡放專屬於此頁面的樣式 */
    margin: 80px auto; /* 讓容器在頁面中置中 */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.description {
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: left;
}

/* 表單佈局樣式 */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.form-row {
    display: flex;
    flex-direction: column;
}

/* 將星號的顏色設定為紅色 */
.required {
    color: red;
    margin-left: 0px; /* 增加一些與文字的間距。可設為5px */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="phone"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 讓內距不會撐大方塊 */
    resize: vertical; /* 調整：「問題」方塊只允許垂直調整大小 */
    transition: border-color 0.3s;
    font-size: 1rem; /* 放大字體大小 */
    height: 42px;   /* 與文字輸入框等高 */
    background-color: #fff; /* 與輸入框一致的底色 */
    box-shadow: none; /* 移除陰影效果 */
}

/* 下拉選單的 placeholder 顏色 */
select option[value=""] {
    color: #666; /* 淡灰色 */
}

/* 核心樣式：當輸入框被點擊時，邊框變為橘色 */  
input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
textarea:focus,
select:focus {
    outline: none; /* 移除瀏覽器預設的外框 */
    border-color: #ff7f00; /* 邊框變為橘色 */
}

/* 新增：警語樣式 */
.disclaimer {
    font-size: 0.85em; /* 這裡設定您想要的字體大小 */
    color: #666; /* 偏灰的顏色 */
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: left;
}

/* 提交按鈕樣式 */
.submit-button {
    background-color: #ff7f00;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* 核心樣式：鼠標懸停時的浮動效果 */
.submit-button:hover {
    transform: translateY(-3px); /* 向上浮起 3 像素 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* 增加陰影，強化浮動感 */
}


/* ------------------------------------------------------------------------- */
/* 新增RWD響應式設定                                                           */
/* ------------------------------------------------------------------------- */

/* overview & industry 區塊在小螢幕自動換行 */
.overview,
.industry {
    flex-wrap: wrap;
}

.form-inner {
    display: flex;
    gap: 16px;
}

.form-inner select {
    width: 30%;
}

.form_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .overview-text,
    .overview-image,
    .industry-text,
    .industry-image {
        flex: 1 1 100%; /* 每個區塊都占滿整行 */
    }

    .features,
    .standards {
        grid-template-columns: repeat(2, 1fr); /* 平板 2 欄 */
    }
}

@media (max-width: 480px) {
    section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .standards {
        grid-template-columns: 1fr;
    }
    .form-inner select {
    width: 40%;
}
.disclaimer {
    margin: 0;
}
.form_bottom {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.submit-row {
    width: 100%;
}
.submit-button {
    width: 100%;
}
}